<%- include header %>

    .<br />
    .<br />
    .<br />
    .<br />
    .<br />
    .<br />
    <h2> 小站只为娱乐，设计力求小清新 </h2>

    </article>
    <footer class="bs-footer" >
    	<hr>
    	    <p>By Jerry Zeng, &copy; Jery Design Studio，我倾注世间之爱于设计和创作。yuzeng@cn.ibm.com</p>

    </footer>

    </div> <!-- container end!-->
</body>

</html>