    </article>
    <footer class="bs-footer" >
    	<hr />
    	    <p><strong>By Jerry Zeng</strong>, &copy; Jery Design Studio，我倾注世间之爱于设计和创作。yuzeng@cn.ibm.com</p>

    </footer>

    </div> <!-- container end!-->
</body>

</html>